
@keyframes turning {
    0%		{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
	}
    100%	{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);}
}

@keyframes turning_shade_down {
    0%{
		opacity:1;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	50%{
		opacity:1;
	}
    100%{
		opacity:0;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);}
}

@keyframes steam_shade {
	0% {opacity:0;}
	50% {opacity:0;}
	55%{opacity:1;}
	85%{opacity:1;}
	95%{opacity:0;}
	100%{opacity:0;}
}